{% extends "core/base.html" %}

{% load account socialaccount %}


{% block content %}
  <h1 class="text-center header">Sign In</h1>

  <div class="col-md-6 col-md-offset-3">
    <div class="social-auth">

    </div>

    {% if form.errors %}
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        Your username and password didn't match. Please try again.
      </div>
    {% endif %}

    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}

      <div class="form-group">
        <label for="username-input">Username</label>
        <input id="username-input" autofocus placeholder="Username"
          name="login" class="form-control" type="text"
          value="{{ form.username.value|default_if_none:"" }}">
      </div>

      <div class="form-group">
        <label for="password-input">Password</label>
        <input id="password-input" placeholder="Password"
          name="password" class="form-control" type="password"
          value="{{ form.password.value|default_if_none:"" }}">
      </div>

      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      <button class="btn btn-default" type="submit">Sign In</button>
      <a class="social-button btn btn-default pull-right" href="/accounts/vk/login/?process=login">
        <img class="social-logo" src="/static/vk.png" alt="vk logo">
        Sign In with VK
      </a>
    </form>
  </div>
{% endblock %}
