{% extends "core/base.html" %}


{% block content %}
  <h1 class="text-center header">Your Tests</h1>

  {% if tests %}
    <ul class="list-group">
      {% for test in tests %}
        <li class="test-list-item list-group-item">
          <div>
            <a href="/test/{{ test.owner.username }}/{{ test.name }}/">
              <strong>{{ test.owner.username }}/{{ test.name }}</strong>
            </a>
            <div>{{ test.description }}</div>
            <div class="text-muted">
              {{ test.question_set.count }} question{{ test.question_set.count|pluralize }}
            </div>
          </div>

          <div class="test-edit-buttons">
            <a class="btn btn-default edit-button"
                href="/test/{{ test.owner.username }}/{{ test.name }}/edit/">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <form class="edit-button"
                action="/test/{{ test.owner.username }}/{{ test.name }}/delete/" method="post">
              {% csrf_token %}
              <button class="btn btn-danger">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </form>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="text-center">You don't have any tests yet.</p>
  {% endif %}

  <div class="text-center">
    <a class="btn btn-success"
        href="/test/new/">
      <span class="glyphicon glyphicon glyphicon-plus"></span>
      New Test
    </a>
  </div>
{% endblock %}
