{% extends "core/base.html" %}


{% block content %}
  <h1 class="text-center header">Edit Test</h1>

  <div class="form-container">
    <form id="edit-form" method="POST">
      {% csrf_token %}

      {% if form.non_field_errors %}
        <div class="alert alert-danger error-box" role="alert">
          <ul class="errorlist">
            {% for error in form.non_field_errors %}
              <li>
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                {{ error }}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      <div class="form-group">
        <label for="name-input">Name</label>
        <div class="input-group">
          <div class="input-group-addon">{{ request.user.username }}/</div>
          <input id="name-input" placeholder="Name"
            name="name" class="form-control" type="text"
            value="{{ form.name.value|default_if_none:"" }}">
        </div>

        {% if form.name.errors %}
          {{ form.name.errors }}
        {% endif %}
      </div>

      <div class="form-group">
        <label for="description-input">Description</label>
        <input id="description-input" placeholder="Description"
          name="description" class="form-control" type="text"
          value="{{ form.description.value|default_if_none:"" }}">

        {% if form.description.errors %}
          {{ form.description.errors }}
        {% endif %}
      </div>

      <div class="form-group">
        <label for="source-input">Questions</label>
        <textarea id="source-input" placeholder="Enter your questions here (one per line)"
          name="source" class="form-control"
          rows="10">{{ form.source.value|default_if_none:"" }}</textarea>

        {% if form.source.errors %}
          {{ form.source.errors }}
        {% endif %}
      </div>
    </form>

    <button form="edit-form" class="btn btn-primary">
      <span class="glyphicon glyphicon glyphicon-pencil"></span>
      Save Test
    </button>

    <form class="pull-right"
        action="/test/{{ test.owner.username }}/{{ test.name }}/delete/" method="post">
      {% csrf_token %}
      <button class="btn btn-danger">
        <span class="glyphicon glyphicon-remove"></span>
        Delete
      </button>
    </form>
  </div>
{% endblock %}
