{% extends "core/base.html" %}


{% block head %}
  <script src="/static/core/test.min.js" defer></script>
{% endblock %}


{% block content %}
  <h1 class="text-center header">
    <p id="test-name">{{ test.owner.username }}/{{ test.name }}</p>
    <div class="small">{{ test.description }}</div>
  </h1>

  <div class="col-md-6 test-column">
    <div id="question-text" class="test-question">
      <span class="text-muted">Press <i>Next</i></span>
    </div>

    <div class="clearfix form-inline">
      <input type="text" id="question-range" class="form-control"
        placeholder="Optional range (ex. 2-5)">
      <div class="pull-right">
        <button type="button" id="done-button" class="btn btn-success" disabled>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          Done
        </button>
        <button type="button" id="next-button" class="btn btn-default">
          <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
          Next
        </button>
        <button type="button" id="reset-button" class="btn btn-danger">
          <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
          Reset
        </button>
      </div>
    </div>
    <div id="range-error-box" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span id="range-error-text">...</span>
    </div>
  </div>

  <div class="col-md-6 test-column">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Questions</strong></div>

      <div class="panel-body">
        <ol id="questions">
          {% for question in questions %}
            <li>
              {% if question.is_active %}
                <a class="question-link question-active" href="#">{{ question.name }}</a>
              {% else %}
                <a class="question-link text-success question-inactive" href="#">{{ question.name }}</a>
              {% endif %}
            </li>
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>
{% endblock %}
