/* navigation bar */
.navbar.navbar-inverse {
    border-radius: 0px;
}

.navbar-inverse .navbar-brand {
    font-weight: bold;
    color: #cccccc;
}

.navbar-inverse .navbar-text.navbar-username {
    margin-left: 15px;
    font-weight: bold;
    color: #cccccc;
}


/* page header */
.header {
    font-size: 27px;
    margin-bottom: 40px;
}

.jumbotron {
    padding: 30px 10px;
}


/* test page */
.test-column {
    margin-bottom: 30px;
}

.test-question {
    margin-top: 15px;
    margin-bottom: 20px;
    min-height: 100px;
}

#question-range {
    margin-bottom: 10px;
}

#range-error-box {
    margin-top: 10px;
    display: none;
}

.question-inactive {
    text-decoration: line-through;
}


/* footer */
footer {
    text-align: center;
    margin-top: 50px;
}

footer > p {
    margin: 0 0;
}
