<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Tester{% endblock %}</title>

    <!-- Favicon -->
    {% if debug %}
      <link rel="icon" sizes="any" href="/static/favicon_debug.png">
    {% else %}
      <link rel="icon" sizes="any" href="/static/favicon.png">
    {% endif %}

    <!-- jQuery -->
    <script src="/static/dist/jquery/jquery.min.js" defer></script>

    <!-- Bootstrap -->
    <link href="/static/dist/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/dist/bootstrap/js/bootstrap.min.js" defer></script>

    <!-- Underscore -->
    <script src="/static/dist/underscore/underscore-min.js" defer></script>

    <!-- js-cookie -->
    <script src="/static/dist/js-cookie/js.cookie.min.js" defer></script>

    <!-- Custom styles -->
    <link href="/static/core/style.min.css" rel="stylesheet">

    {% block head %}
    {% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Tester</a>

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/explore/">Explore</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li class="nav navbar-text navbar-username">{{ user.username }}</li>
              {% if user.is_superuser %}
                <li><a href="/admin/">Admin</a></li>
              {% endif %}
              <li><a href="/logout/">Log Out</a></li>
            {% else %}
              <li><a href="/login/">Sign In</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <footer>
      <p class="text-muted">© 2015 Anton Barkovsky</p>
      <p><a href="http://swarmer.me/">swarmer.me</a></p>
    </footer>
  </body>
</html>
