{% extends "base.html" %}


{% block head %}
  <script src="/static/core/js/test.js" defer></script>
{% endblock %}


{% block content %}
  <h1 class="text-center header">
    <p>{{ test.owner.username }}/{{ test.name }}</p>
    <div class="small">{{ test.description }}</div>
  </h1>

  <div class="col-md-6 test-column">
    <div id="question-text" class="test-question">
      <span class="text-muted">Press <i>Next</i></span>
    </div>

    <div class="clearfix form-inline">
      <input type="text" id="question-range" class="form-control"
        placeholder="Optional range (ex. 2-5)">
      <button type="button" id="next-button" class="btn btn-default pull-right">
        Next
      </button>
    </div>
    <div id="range-error-box" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span id="range-error-text">...</span>
    </div>
  </div>

  <div class="col-md-6 test-column">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Questions</strong></div>

      <div class="panel-body">
        <ol id="questions">
          {% for question in test.question_set.all %}
            <li><a class="question-link" href="#">{{ question.name }}</a></li>
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>
{% endblock %}
